@{
    ViewBag.Title = "About";
}

<div id="content">

    <header>
        @ViewBag.Title.
    </header>
    <article>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </article>
</div>